@import url("https://use.typekit.net/dcd0bmy.css");

@import url("https://fonts.googleapis.com/css?family=Astloch:400,700");

@import url("https://fonts.googleapis.com/css?family=Nova+Mono");

::-webkit-scrollbar {
  display: none;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: url("../img/cursor/arm.png"),default;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga", "onum";
  -moz-font-feature-settings: "liga", "onum";
  font-feature-settings: "liga", "onum";
  font-size: -webkit-calc(1vmax * 2.1);
  font-size: calc(1vmax * 2.1);
}

body {
  margin: 0;
  padding: 0;
  background: #ea3944;
  color: #000;
  font-family: "Schwabacher Grotesk";
  font-size: -webkit-calc(1vmax * 2.1);
  font-size: calc(1vmax * 2.1);
  line-height: 1.05rem;
  overflow-x: hidden;
}

.scrolling-container {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100000px;
}

.columns {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.column {
  position: relative;
  width: 22%;
}

.name {
  position: absolute;
  left: .5vw;
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #c02a34;
  font-size: 1.76rem;
  line-height: 1;
  font-family: 'eskapade-fraktur';
}

.name.active {
  color: #564fd8;
}

.alternative .name {
  position: absolute;
  left: .5vw;
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg) translateX(-50%);
  color: #c02a34;
  font-size: 5rem;
  line-height: 1;
  font-family: 'eskapade-fraktur';
  top: 50% !important;
  -webkit-transform-origin: left top !important;
  -ms-transform-origin: left top !important;
  transform-origin: left top !important;
  text-align: left !important;
  font-weight: 400;
  letter-spacing: .4px;
}

.name-top {
  top: 2.1vh;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  text-align: right;
  -webkit-transform: rotate(-90deg) translateX(-100%);
  -ms-transform: rotate(-90deg) translateX(-100%);
  transform: rotate(-90deg) translateX(-100%);
}

.name-bottom {
  bottom: -3.1vh;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  text-align: left;
}

.column p {
  position: absolute;
  color: #fff;
  font-size: .7rem;
  padding: 0 0 0 1.35rem;
}

.c-amalia-1a {
  bottom: -webkit-calc(1.05rem * 6);
  bottom: calc(1.05rem * 6);
}

.c-amalia-1b {
  top: -webkit-calc(1.05rem * 2);
  top: calc(1.05rem * 2);
}

.buehnenanweisungen aside {
  position: absolute;
  top: 1.8vh;
  left: 50%;
  width: 100%;
  padding: 0 0 0 1.35rem;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: rgba(255,255,255,0.6);
  text-align: left;
  font-size: .7rem;
  opacity: 0;
  letter-spacing: .012em;
  font-family: 'eskapade-fraktur';
  font-style: italic;
}

.column-2 .buehnenanweisungen aside,
.column-4 .buehnenanweisungen aside {
  top: auto;
  bottom: 2vh;
}

/*# sourceMappingURL=main.css.map */