$backgroundColor: hsl(356, 81%, 57%);
$white: #fff;
$line-height-root: 1.1rem;

$space: 1.05em;

$small: .52rem;
$normal: .8rem;
$large: 1.55rem;
$x-large: 1.9rem;
$xx-large: 5rem;

@mixin small() {
  font-size: $small;
  letter-spacing: .05em;
  line-height: 1.4em;
}

@mixin normal() {
  font-size: $normal;
  line-height: $line-height-root;
}

@mixin large() {
  font-size: $large;
  line-height: 1.2em;
}


@mixin x-large() {
  font-size: $x-large;
  line-height: 1.2em;
}

@mixin xx-large() {
  font-size: $xx-large;
  line-height: 1.2em;
}

@import url("https://use.typekit.net/dcd0bmy.css");
@import url('https://fonts.googleapis.com/css?family=Astloch:400,700');
@import url('https://fonts.googleapis.com/css?family=Nova+Mono');

::-webkit-scrollbar {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: url("../img/cursor/arm.png"), default;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga", "onum";
  font-size: calc(1vmax * 2.1);
}

body {
  margin: 0;
  padding: 0;
  background: $backgroundColor;
  color: #000;
  font-family: "Schwabacher Grotesk";
  font-size: -webkit-calc(1vmax * 2.1);
  font-size: calc(1vmax * 2.1);
  line-height: $line-height-root;
  overflow-x: hidden;
}

.scrolling-container {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100000px;
}

.deckel {
  font-family: "eskapade-fraktur";
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-8deg);
  font-size: 7.5em;
  color: hsl(243, 64%, 58%);
  font-weight: 600;
  font-style: italic;
  letter-spacing: .02em;
  line-height: 1;
  text-align: center;
  z-index: 999;
}

.deckel-friedrich {
  display: inline-block;
  position: relative;
  font-size: 1.7rem;
  letter-spacing: 0;
  bottom: -.5em;
  font-weight: 400;
}

.deckel-title {
  display: inline-block;
  position: relative;
  font-size: 1.7rem;
  letter-spacing: 0;
  top: -.5em;
  font-weight: 400;
}

.deckel-schiller {
  position: absolute;
  bottom: 4vw;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: 998;
  color: rgba(0,0,0,.7);
}

.columns {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.column {
  position: relative;
  width: 24%;
}

.name {
  position: absolute;
  left: .5vw;
  display: inline-block;
  transform: rotate(-90deg);
  color: hsl(356, 64%, 46%);
  font-size: 1.7rem;
  line-height: 1;
  font-family: "eskapade-fraktur";

  &.active {
    color: hsl(243, 64%, 58%);
  }
}

.alternative .name {
  position: absolute;
  left: .5vw;
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg) translateX(-50%);
  color: #c02a34;
  font-size: 5rem;
  line-height: 1;
  font-family: 'eskapade-fraktur';
  top: 50% !important;
  transform-origin: left top !important;
  text-align: left !important;
  font-weight: 400;
  letter-spacing: .4px;
}

.name-name {
  transform: translateY(100%) scale(.96,.96);
  display: inline-block;
  opacity: .5;
  transition: transform ease-out .5s, opacity ease-out .5s;
}

.name.visible .name-name {
  transform: translateY(0%) scale(1,1);
  opacity: 1;
}

.name-overlay {
  display: inline-block;
  position: absolute;
  background: $backgroundColor;
  color: rgba(255,255,255,0);
  z-index: 1;
  right: 0;
  top: 99%;
}

.name-top {
  top: 2.1vh;
  transform-origin: left top;
  text-align: right;
  transform: rotate(-90deg) translateX(-100%);
}

.name-bottom {
  bottom: -3.1vh;
  transform-origin: left top;
  text-align: left;
}

.buehnenanweisungen aside {
  position: absolute;
  top: 1.8vh;
  left: 50%;
  width: 100%;
  padding: 0 0 0 2.27rem;
  transform: translateX(-50%);
  color: rgba(255,255,255,.6);
  text-align: right;
  font-size: .7rem;
  opacity: 0;
  letter-spacing: .012em;
  font-family: 'eskapade-fraktur';
  font-style: italic;
}

.column-2 .buehnenanweisungen aside,
.column-4 .buehnenanweisungen aside {
  top: auto;
  bottom: 2vh;
}

figure {
  position: absolute;
  z-index: -1;
  background: $backgroundColor;
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 6vw;
  height: 6vw;
}

p {
  position: absolute;
  color: $white;
  font-size: $normal;
  padding: 0 0 0 2.55rem;
  top: calc(#{$line-height-root} * 3);
}

.figure-pssht-1 {
  top: auto;
  bottom: -1.8vw;
  background-image: url(../img/pst/PST.png);
  width: 25vw;
  height: 22vw;
  left: 5.6vw;
  margin: 0;
}

.c-amalia-1a {
  bottom: calc(#{$line-height-root} * 6);
  font-size: $large;
  // line-height: 1.3em;

  span {
    display: inline-block;
    @include small();
    margin-top: $line-height-root;
  }
}

.c-amalia-1b {
  top: calc(#{$line-height-root} * 3);
}

.c-moor-1 {
  top: calc(#{$line-height-root} * 2);
  @include small();
}

.c-moor-1b {
  top: calc(#{$line-height-root} * 5);
  font-size: $x-large;
}

.c-moor-1c {
  top: calc(#{$line-height-root} * 8);
  @include xx-large();
}

.figure-pssht-2 {
  top: auto;
  bottom: -1.76vw;
  background-image: url(../img/ohr.png);
  width: 25vw;
  height: 30vw;
  left: 5.6vw;
  margin: 0;
}

.c-amalia-2 {
  top: calc(#{$line-height-root} * 2);
  font-size: $large;

  span {
    display: inline-block;
    font-size: $small;
    margin-top: $line-height-root;
  }
}

.c-moor-2 {
  width: 130%;
  top: calc(#{$line-height-root} * 7);
  @include x-large();

  span {
    display: block;
    @include normal();
    margin-top: calc(#{$line-height-root} / 2);
  }
}

.c-amalia-3a {
  top: calc(#{$line-height-root} * 3);
  @include normal();
}

.c-amalia-3b {
  top: auto;
  bottom: calc(#{$line-height-root} * 1.5);
  @include xx-large();
}

.c-moor-3 {
  width: 140%;
  top: calc(#{$line-height-root} * 10);
  @include large();
}

.figure-faust-1 {
  top: calc(#{$line-height-root} * 3);
  right: -10vw;
  background-image: url(../img/faust.png);
  width: 21vw;
  height: 26vw;
  margin: 0;
  transform: rotate(12deg);
}

.c-moor-8 {
  @include small();
  text-align: right;
  top: 7vw;
}

.c-moor-8 span:first-child {
  display: inline-block;
  position: relative;
  top: 5px;
  margin-bottom: 6vw;
}

.c-moor-8 span:nth-child(2) {
  display: inline-block;
  position: relative;
  text-align: left;
  @include x-large();
}

.c-amalia-4 {
  top: calc(#{$line-height-root} * 8);
}

.c-amalia-5 {
  top: calc(#{$line-height-root} * 8);
}

.figure-auge-1 {
  top: calc(#{$line-height-root} * 2.4);
  background-image: url(../img/auge1.png);
  width: 13vw;
  height: 8vw;
  left: -6vw;
}

.c-moor-4a {
  top: calc(#{$line-height-root} * 1);
  @include large();
}

.figure-auge-2 {
  top: calc(#{$line-height-root} * 8.5);
  background-image: url(../img/auge2.png);
  width: 10vw;
  height: 9vw;
  right: -2vw;
}

.c-moor-4a1 {
  width: 100%;
  top: calc(#{$line-height-root} * 8);
  @include large();
  text-align: center;
}

.figure-auge-3 {
  top: calc(#{$line-height-root} * 13);
  background-image: url(../img/auge3.png);
  width: 15vw;
  height: 13vw;
  left: -1vw;
}

.c-moor-4b {
  width: 120%;
  top: calc(#{$line-height-root} * 14);
  @include large();
}

.c-moor-4c {
  width: 120%;
  top: calc(#{$line-height-root} * 21);
  @include normal();
  text-align: center;
  margin-left: -10%;
}

.c-moor-5a {
  top: calc(#{$line-height-root} * 1);
  @include small();
}

.figure-verzeihung0 {
  position: fixed;
  top: auto;
  bottom: calc(#{$line-height-root} * 1);
  background-image: url(../img/haende.png);
  width: 9vw;
  height: 6.5vw;
  right: 3vw;
}

.c-moor-5b {
  top: calc(#{$line-height-root} * 10);

  span {
    display: block;
    font-size: $x-large;
    margin: .3em 0;
  }
}

.figure-verzeihung-1 {
  top: calc(#{$line-height-root} * 2);
  background-image: url(../img/verzeihung1.png);
  width: 25vw;
  height: 17vw;
  right: -11vw;
}

.c-amalia-6a {
  top: calc(#{$line-height-root} * 2);

  span {
    @include small;
  }
}

.figure-verzeihung-2 {
  top: auto;
  bottom: calc(#{$line-height-root} * 3);
  background-image: url(../img/verzeihung2.png);
  width: 14vw;
  height: 13vw;
  left: 0vw;
}

.c-amalia-6b {
  top: auto;
  bottom: calc(#{$line-height-root} * 2);

  span {
    @include small;
  }
}

.c-amalia-8 {
  font-size: 1.9rem;
}

.c-amalia-8 span {
  top: 2em;
}

.c-amalia-9a {
  @include xx-large;

  span {
    @include normal;
  }
}

.c-amalia-9c {
  top: 18vw;
}

.c-moor-9a {
  top: auto;
  bottom: 11vw;
  @include normal;
}

.c-moor-9b {
  top: 7vw;
  @include large;
}

.c-amalia-10a {
  top: 2vw;
}

.c-amalia-10b {
  top: 17vw;
  @include large;
  width: 130%;
}

.c-amalia-12 {
  top: 22vw;
  width: 170%;
  left: 5vw;

  span {
    color: #000;
  }
}

.figure-klavier-1 {
  top: 21vh;
  background-image: url(../img/klavierhand2.png);
  width: 22vw;
  height: 8vw;
  left: -6vw;
  transform: rotate(-6deg);
}

.figure-klavier-2 {
  top: 60.5vh;
  background-image: url(../img/klavierhand.png);
  width: 28vw;
  height: 13vw;
  left: -6vw;
  transform: rotate(-6deg);
}
