@import url("https://use.typekit.net/dcd0bmy.css");
@import url('https://fonts.googleapis.com/css?family=Astloch:400,700');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga", "onum";
  font-size: 17px;
}

body {
  padding: 12vw 15vw;
  background: #888 url(../img/amalia.jpg) center center;
  color: #ff6633;
  font-family: "eskapade";
  font-size: -webkit-calc(1vmax * 2.1);
  font-size: calc(1vmax * 2.1);
  line-height: 1.3;
  background-size: 32%;
  background-repeat: no-repeat;
}

p {
  position: relative;
  margin: 16em 0;
  text-align: right;
  color: #f1f1f1;
}

.kapitel {
  text-align: center;
  font-family: "eskapade-fraktur";
  font-size: 2.8em;
  font-size: 12em;
  line-height: .82em;
  font-weight: 900;
  //text-shadow: 3px 0 0 #fff;
  display: block;
  transform: rotate(-9deg);
  font-style: italic;
  margin: 6rem auto 10rem;
  letter-spacing: -0.01em;
}

.context {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  font-style: italic;
  color: red;
  font-size: 1.15em;
  font-weight: bold;
  line-height: 1;
}

.name {
  position: relative;
  display: inline-block;
  width: .81em;
  margin-right: .215em;
  margin-left: -1.05em;
  margin-top: -1px;
  font-size: 10.0em;
  font-weight: bold;
  line-height: 0.5;
  text-align: center;
  color: #ff6633;

  background: url(../img/IMG_0826.JPG) no-repeat center center;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-attachment: fixed;
}

// Guter Sohn
.karl .name {
  font-family: "fairy-tale-jf";
}

// Böser Sohn
.franz .name {
  font-family: "alexander-quill";
}

// Geliebte
.amalia .name {
  font-family: "ltc-goudy-ornate";
}

// Alter Graf
.graf .name {
  font-family: "eskapade-fraktur";
}

// Diener
.diener .name {
  font-family: "elektrix";
}

// Räuber
.raeuber .name {
  font-family: "taurunum-ferrum-iron";
}

// Geistlicher
.geistlicher .name {
  font-family: Helvetica;
}

.amalia-bild-div {
  position: relative;
}

.bild-amalia {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%,-50%);
  width: 600px;
  height: 600px;
  background: url(img/amalia.jpg) no-repeat center center;
  background-size: cover;
  background-blend-mode: lighten;
}

.spasti {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  font-size: 25vmax;
  color: #888;
  line-height: 1;
  top: .18em;
  font-family: "taurunum-ferrum-iron";
  /* letter-spacing: -.03em; */
  font-weight: bold;
  mix-blend-mode: multiply;
  /* background: green; */
  height: 100%;

  display: none;
}
