@import url("https://use.typekit.net/dcd0bmy.css");
@import url('https://fonts.googleapis.com/css?family=Astloch:400,700');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga", "onum";
  font-size: 17px;
}

body {
  padding: 9vw;
  background: #111;
  color: #fff;
  font-size: calc(1vmax * 2.2);
}

p {
  position: relative;
  margin: 2em;
}

.kapitel {
  text-align: center;
}

.name {
  font-weight: bold;
}

.context {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  font-style: italic;
  color: red;
  font-size: 1.15em;
  font-weight: bold;
  line-height: 1;
}
